@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: "Roboto", system-ui;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  font-size: 1.1rem;
  color: white;
}

span {
  font-size: 0.75rem;
  display: inline-block;
  min-height: 25px;
  color: white;
}

input {
  width: 100%;
  height: 1.5rem;
}

input:focus {
  outline: none;
}

input::auto

.valid-input {
  background-color: #aaf0c9;
}

.invalid-input {
  background-color: #f9bfbf;
}

button {
  height: 1.9rem;
  font-size: 1.2rem;
  background-color: #3A6D8C;
  border: none;
  color: white;
  margin-top: 5px;
  border-radius: 2px;
}

button:hover {
  background-color: #6A9AB0;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: '.      .      .'
                       '. signup-form .'
                       '.      .      .';
  height: 100vh;
}

.signup-form {
  grid-area: signup-form;
  background-color: #004488;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 5px;
  padding: 45px 25px;
  box-shadow: 60px -60px #d6d6d6;
  transition: box-shadow 0.3s ease-in-out;
}

.valid-signup-form {
  box-shadow: 60px 60px #aaf0c9;
}

.invalid-signup-form {
  box-shadow: -60px -60px #f9bfbf;
}